@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Patua+One&family=Ubuntu+2&family=Montserrat+2&family=Raleway:wght@500&display=swap");
* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

html {
    font-size: 70.5%;
    height: auto;
    width: 100%;
}

body {
    height: auto;
    height: auto;
    width: 100%;
}

 :root {
    --basic: #ffffff;
    --black: #000000;
    --black-v2: #0000007c;
    --black-v3: rgba(0, 0, 0, 0.726);
    --primary: #222845;
    --shade: #42424214;
    --shade-v2: rgba(105, 105, 105, 0.103);
    --font_awesome: #dfd5d5be;
    --left_border: rgba(255, 255, 255, 0.376);
    --dropdown: rgb(245, 245, 245);
    --btn: #b99663;
    --links: rgba(75, 75, 211, 0.835);
}


/* research and publication  */
h1{
    margin-top: 1rem;
    font-size: 3rem;
}

.headpt-1{
  
    color: var(--btn);
    text-decoration: underline currentColor;
}
.headpt-2{
 
    color: var(--primary);
    text-decoration: underline currentColor;
}
/*-------------------------------------------- footer section ------------------------------------*/

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: var(--primary);
    padding: 15px 0;
    line-height: 1.5;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #b99663;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer .footer-text {
    height: auto;
    width: 45%;
    display: block;
    margin: auto;
    padding-top: 1.2rem;
    color: var(--basic);
}

.footer .footer-text a {
    color: var(--btn);
    text-decoration: none;
}

.footer .footer-text a:hover {
    color: rgb(167, 165, 165);
}