@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Patua+One&family=Ubuntu+2&family=Montserrat+2&family=Raleway:wght@500&display=swap");
* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

html {
    font-size: 70.5%;
    height: auto;
    width: 100%;
}

body {
    height: auto;
    height: auto;
    width: 100%;
}

 :root {
    --basic: #ffffff;
    --black: #000000;
    --black-v2: #0000007c;
    --black-v3: rgba(0, 0, 0, 0.726);
    --primary: #222845;
    /* --shade: #42424226; */
    --shade: #42424214;
    --shade-v2: rgba(105, 105, 105, 0.103);
    --font_awesome: #dfd5d5be;
    --left_border: rgba(255, 255, 255, 0.376);
    --dropdown: rgb(245, 245, 245);
    --btn: #b99663;
    --links: rgba(75, 75, 211, 0.835);
}


/* Gallery  */

.pagal {
    background-color: var(--shade-v2);
}

.pagal h1 {
    text-align: center;
}

.headpt1 {
    color: var(--btn);
    text-decoration: underline currentColor;
}

.headpt2 {
    color: var(--primary);
    text-decoration: underline currentColor;
}

.gallery {
    background-color: var(--shade);
    /* background: var(--shade); */
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    width: 100%;
    /* border: 2px solid red; */
    overflow-x: hidden;
}

.gallery img {
    width: 18vw;
    height: auto;
    margin: 1rem;
    border-radius: 3px;
    filter: grayscale(25%);
}

.gallery img:hover {
    transform: scale(1.1);
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
    filter: grayscale(0%);
}